.glassMorphism {
  height: 100%;
  background: radial-gradient(at top left, #17171A, rgba(34, 37, 49, 10));
  position: relative;
}
.holder {
  height: 33%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(117deg, rgba(23,23,26,1) 100%, rgba(27,29,37,1) 100%);;
}